body {
    font-family: "Courier New", serif;
    font-size: 24px;
}

input {
    width: 100%;
    outline: none;
    padding: 12px 20px;
    border: 2px solid lightblue;
}
input[type="text"]
{
    font-size: 24px;
    font-family: "Courier New", serif;
}

table {
    border: 1px solid grey;
    margin-left: auto;
    margin-right: auto;
}
/* границы ячеек первого ряда таблицы */
th {
    border: 1px solid grey;
    padding: 10px;
}
/* границы ячеек тела таблицы */
td {
    border: 1px solid grey;
    padding: 10px;
}